.calendar-card-header{
  background-color: #007BFF !important;
}

#dropdown-item-colorpicker{
  background-color: white !important;
}

#dropdown-basic-button{
  border-color: transparent !important;
}